<!DOCTYPE html>
<html>
<head>
  <title>User Form</title>
</head>
<body>
  <h1>User Registration</h1>

  <form action="/submit" method="POST">
    <input type="text" name="name" placeholder="Enter Name" required>
    <br><br>

    <input type="email" name="email" placeholder="Enter Email" required>
    <br><br>

    <button type="submit">Submit</button>
  </form>
</body>
</html>