<!DOCTYPE html>
<html lang="en">
<head>
  <title>Profile</title>
</head>
<body>

  <h1>Name: <%= name %></h1>
  <h2>Age: <%= age %></h2>
  <h3>Role: <%= role %></h3>


  <% if (age > 18) { %>

    <p>You are an adult.</p>
  <% } else { %>
    <p>You are a minor.</p>

  <% } %>

  <h3> role: <%= role %> </h3>

  

</body>
</html>

